node_modules
.idea
*.iml
coverage
repo
dist
*.tgz
.gradle
build
out
.sfdx
.vscode/settings.json
packages/prettier-plugin-apex/tests/local_only
packages/prettier-plugin-apex/vendor

.nx
.pnpm-store
.DS_Store
