node_modules
.idea
*.iml
coverage
repo
dist
*.tgz
.gradle
build
out
.sfdx
.vscode/settings.json
packages/apex-ast-serializer/transpiler/generated
packages/prettier-plugin-apex/tests/local_only
packages/prettier-plugin-apex/vendor
packages/prettier-plugin-apex/src/jorje.js

.nx
.pnpm-store
.DS_Store
