node_modules
.idea
*.iml
coverage
repo
dist
*.tgz
.gradle
build
out
.sfdx
.vscode/settings.json
packages/prettier-plugin-apex/tests/local_only
packages/prettier-plugin-apex/vendor
packages/apex-ast-serializer/parser/src/pgo-profiles

.nx
.pnpm-store
.DS_Store
