# Source files
*.xml text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.cls text eol=lf
*.trigger text eol=lf
*.apex text eol=lf
*.snap text eol=lf
vendor/apex-ast-serializer/bin/apex-ast-serializer text eof=lf
vendor/apex-ast-serializer/bin/apex-ast-serializer-http text eof=lf

# Misc config files
.gitignore text eol=lf
.prettierrc text eol=lf
.editorconfig text eol=lf
.gitattributes text eol=lf

# Windows specific files
*.bat text eol=crlf

# Binary files
*.jar binary
